<div *ngIf="users">
  <ul class="items list-group users-list">
    <li class="list-group-item"
      *ngFor="let user of users"
      (click)="selectUser(user)"
      [class.active]="user === activeUser">
          <span class="badge">{{user.id}}</span>
          {{ user.name }} {{ user.lastname }}</li>
  </ul>

  <div *ngIf="activeUser">
    Selected:
    <ul class="items list-group users-list">
      <li>
        <span class="badge">{{activeUser.id}}</span>
        {{activeUser.name}} {{activeUser.lastname}}</li>
    </ul>
  </div>
  
 <button (click)="download()">Download</button>


</div>
