
<h1>{{title | awesome}}</h1>

<div style="width:100%; max-width:400px;">
  <form [formGroup]="formContact" (ngSubmit)="onSubmit()">


    <div>
      <label for="firstName">FirstName:</label>
      <input type="text" formControlName="firstName" class="form-control" id="firstName">
      <span *ngIf="formContact.get('firstName').touched &&
        formContact.hasError('required', 'firstName')">field is required</span>
    </div>


    <div>
      <label for="lastName">LastName:</label>
      <input formControlName="lastName" class="form-control" id="lastName">
    </div>

    <div>
      <label for="email">Email:</label>
      <input formControlName="email" class="form-control" id="email">
    </div>

    <div>
      <label for="password">Password:</label>
      <input formControlName="password" class="form-control" id="password">
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input formControlName="confirmPassword" class="form-control" id="confirmPassword">
      <span *ngIf="formContact.get('confirmPassword').touched &&
        formContact.hasError('passwordsDontMatch', 'confirmPassword')">passwords do not match</span>
    </div>


    <div>
      <label for="language">Language:</label>
      <input formControlName="language" class="form-control" id="language">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <pre>{{formContact.value | json}}</pre>
  </form>
</div>
